:root {
--clr-Moderate-violet: hsl(263, 55%, 52%);
--clr-Very-dark-grayish-blue: hsl(217, 19%, 35%);
--clr-Very-dark-blackish-blue: hsl(219, 29%, 14%);
--clr-White: hsl(0, 0%, 100%);
--clr-Light-gray: hsl(0, 0%, 81%);
--clr-Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    inherits: none;
}

body {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
    font-family: Barlow Semi Condensed, sans-serif;
    background-color: var(--clr-Light-grayish-blue);
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    row-gap: 24px;
    column-gap: 30px;
    grid-template-areas: 
    'one one two five'
    'three four four five';
    margin: 64px 24px;
}

.article:nth-child(1) {
    grid-area: one;
}

.article:nth-child(2) {
    grid-area: two;
}

.article:nth-child(3) {
    grid-area: three;
}

.article:nth-child(4) {
    grid-area: four;
}

.article:nth-child(5) {
    grid-area: five;
}

.article {
    color: var(--clr-White);
    background-color: var(--clr-White);
    color: var(--clr-White);
    border-radius: 6px;
    padding: 24px 32px 32px 32px;
    box-shadow: 12.8px 60px 64px -32px rgba(80, 90, 110, 0.2);
}

.article-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.article-one {
    background-color: var(--clr-Moderate-violet);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 82%;
    color: var(--clr-White);
}

.article-two {
    background-color: var(--clr-Very-dark-grayish-blue);
}
.article-three,
.article-five {
    color: var(--clr-Very-dark-grayish-blue);
    padding: 24px 31px 26px 32px;
}
.article-four {
    background-color: var(--clr-Very-dark-blackish-blue);
    padding: 24px 34px 26px 32px;
}

.picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid transparent;
}

.picture-one,
.picture-four {
    border: 2px solid  rgb(169, 129, 235);
}

.user-name {
    font-weight: 600;
}

.user-status {
    font-size: 11px;
    font-weight: 400;
    opacity: 0.5;
}

.user-info {
    width: 100%;
    display: flex;
    align-items: center;
}

.user-info-details {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.testimonials {
    height: 100%;
}

.testimonials-header {
    width: 100%;
    font-weight: 600;
    margin-top: 5px;
    font-size: 20px;
    margin-top: 13px;
}

.testimonials-header-three,
.testimonials-header-four,
.testimonials-header-five {
 margin-bottom: 24px;
}

.testimonials-text {
    font-size: 13px;
    opacity: 0.5;
    font-weight: 500;
    line-height: 18px;
    margin-top: 16px;
    padding-right: 2px;
}

@media only screen and (max-width: 1120px) {
    body {
        height: 100%;
    }
    
    .testimonials-grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        'one one one one '
        'two two five five'
        'three three five five'
        'four four four four';
    }

    .article {
        padding: 24px 32px 32px 32px;

    }

    .testimonials-text-one {
    }
}

@media only screen and (max-width: 600px) {
    body {
        height: 100%;
    }

    .testimonials-grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        'one one one one'
        'two two two two'
        'three three three three'
        'four four four four'
        'five five five five';
    }

    .article {
        padding: 24px 32px 32px 32px;
    }

    .testimonials-text {
        padding: 0;
    }

    .testimonials-text-one {
        padding-right: 14px;
    }

    .testimonials-header {
    }
}








